[submodule "MABE2"]
	path = MABE2
	url = git@github.com:FergusonAJ/MABE2
  branch = doors
[submodule "MABE2_extras"]
	path = MABE2_extras
	url = git@github.com:FergusonAJ/MABE2_extras
[submodule "roll_q"]
	path = roll_q
	url = git@github.com:FergusonAJ/roll_q
